<div class="footer">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="footer-inner">
          <img height="20px" alt="sennoidal-footer" src="/images/social/footer.webp">
           <ul>
            {{ $currentPage := . }}
            {{ range .Site.Menus.footer }}
            <li class="menu-item-{{ .Name | lower }}{{ if $currentPage.IsMenuCurrent "main" . }} active{{ end }}">
              <a href="{{.URL}}">
                {{ .Name }}
              </a>
            </li>
            {{end}}
          <br><br>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>